
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "futura";
  background: #ffffff;
  color: #000000;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "futura";
}

.loader{
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader > img {
  width: 100px;
}
.loader.hidden {
  animation: fadeOut 2s;
  animation-fill-mode: forwards;
}
@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
 
}

#preloader:before {
  content: url("../img/Wyte\ Birds.png");
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #002A62;
  border-top-color: rgba(255, 255, 255, 0);
  border-bottom-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}*/
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 0;
  bottom: 1em;
  z-index: 996;
  background: #00000082;
  width: 35px;
  height: 35px;
  border-radius: 0px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 25px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #00000082;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: white;
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}
#header .container {
  justify-content: space-between;
}
#header .logo h1 {
  font-family: "futura";
  color: #000000;
  font-size: 30px;
  margin: 0;
  margin-left: 0.5em;
  padding: 0;
  line-height: 1;
  transition: all ease-in-out 1s;
  letter-spacing: -1px;
}
#header .logo {
  display: flex;
  align-items: center;
}
#header .logo img {
  max-height: 4em;
}
.logo-one img ,.logo-two h1 {
  transition: all ease-in-out 1s;
  display: none;
}
.logo-two img {
  margin-left: 13.25em;
  border-radius: 35px;
}
.logo-two h1 {
  margin-left: 0 !important;
  margin-right: 1em !important;
  transition: all ease-in-out 1s;
}
@media (max-width: 992px) {
  #header {
    background-color: #000000;
    padding: 10px;
  }
  #header.header-scrolled, #header.header-inner-pages {
    padding: 0;
  }
  .logo-one h1 {
    display: block;
    margin-left: 5px !important;
    color: #ffffff !important;
    transition: all ease-in-out 1s;
  }
  .logo-one img, .logo-two img, .logo-two h1 {
    display: none;
  }
}
/*
@media (max-width: 992px) {
  #header .logo h1 {
    margin-left: 7.5em;
  }
}
@media (max-width: 767px) {
  #header .logo h1 {
    margin-left: 4.5em;
  }
}
@media (max-width: 574px) {
  #header .logo h1 {
    margin-left: 5em;
  }
}
@media (max-width: 475px) {
  #header .logo h1 {
    margin-left: 2.75em;
  }
}
@media (max-width: 414px) {
  #header .logo h1 {
    margin-left: 2.2em;
  }
}
@media (max-width: 400px) {
  #header .logo h1 {
    margin-left: 1.65em;
  }
}
@media (max-width: 350px) {
  #header .logo h1 {
    margin-left: 1em;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  white-space: nowrap;
  border-bottom: 3px solid transparent;
  padding: 0px 0px 10px 0px;
  margin: 10px 10px 0px 10px;
}
.navbar a:focus {
  color: #000000;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar li:hover > a {
  color: #000000;  
  border-bottom: 3px solid #000000;
}
.navbar .getstarted, .navbar .getstarted:focus {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  border: 2px solid #000000;
  font-weight: 600;
}
.navbar .getstarted:hover, .navbar .getstarted:focus:hover {
  color: rgb(0, 0, 0);
  background: rgba(128, 128, 128, 0.295);
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  transition: 0.3s;
  border-radius: 4px;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #0c3c53;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #ffffff ;
  font-size: 30px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: rgb(0, 0, 0);
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar{
  text-align: center;
}
.navbar-mobile {
  line-height: 1.2;
  height: auto;
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: 0.1s;
  z-index: 999;
  background: #000000db;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  color: #ffffff;
  top: 0.95em;
  right: 0.75em;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  right: 15px;
  top: 5.5em;
  left: 15px;
  padding-bottom: 10px;
  border: 1px solid rgba(0, 54, 99, 0.192);
  border-bottom: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.966);
  overflow-y: auto;
  transition: 0.1s;
}
.navbar-mobile a, .navbar-mobile a:focus { 
  padding: 10px 20px;
  font-size: 15px;
  color: #000000;
  border-bottom: none;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  border-bottom: none;
  background: #000000;
  color: #ffffff;
  border-radius: 5px;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
  color: #000000;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}
.bi-list::before {
  content: "\f479";
  color: transparent;
  background: url(../branding/logo-icon-white.png);
  background-position: center;
  background-size: cover;
  padding: 15px;
}

/*--------------------------------------------------------------
# mission Section
--------------------------------------------------------------*/
.mission {
  padding-top: 0em;
  padding-bottom: 1em;
}
.mission .section-title p, .intro .conclusion p {
  margin-top: 1em;
  font-size: 21px;
}

@media (max-width: 992px) {
  .mission {
    padding-bottom: 60px;
  }
  .mission .section-title p, .intro .conclusion p {
    margin-top: 1.25em;
    font-size: 16px;
  }
  .intro .conclusion p {
    margin-top: 2.5em;
  }
}

/*--------------------------------------------------------------
# intro Section
--------------------------------------------------------------*/
.intro {
  padding-top: 0;
}
.intro .intro-content h1 {
  font-size: 24px;
  background: black;
  color: white;
  padding: 8px 18px 8px 18px;
  border-radius: 5px;
}
.intro .intro-content p {
  font-size: 15px;
  margin-bottom: 2em;
  padding: 1em;
  border-left: 2px solid;
  border-bottom: 2px solid;
  border-radius: 5px;
}
@media (max-width: 992px) {
  .intro {
    margin-top: -3em;
    padding: 0;
  }
  .intro .intro-content h1 {
    font-size: 26px;
  }
  .intro .intro-content p {
    font-size: 15px;
    margin-top: 1em;
    margin-bottom: 0;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  padding-bottom: 12em;
  background-image: url('../bg-home.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#hero h1 {
  margin: 0 0 0.4em 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.1em;
  color: #000000;
  -webkit-animation: focus-in-expand 0.8s ease-in-out both;
	animation: focus-in-expand 0.8s ease-in-out both;
}
@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

#hero .btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border: 2px solid;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: rgb(0, 0, 0);
  background: #ffffff;
}
#hero .first-button {
  position: absolute;
  margin-top: 10em;
  width: -webkit-fill-available;
}
.first-button a {
  font-size: 18px;
  background: black;
  color: white;
  padding: 0.5em;
  padding-inline: 1em;
  border-radius: 5px;
  border: 2px solid black;
  transition: 0.3s ease-in-out;
}
.first-button a:hover {
  color: #000000;
  background: #ffffff;
}
@media (min-width: 1024px) {
  .sectionFirst{
    margin-top: 0;
  }
}
@media (min-width: 770px) {
  .sectionFirst{
    margin-top: 0;
  }
}
@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 50%;
  }
}
@media (max-width: 1200px) {
  #hero h1 {
    font-size: 42px;
    line-height: 48px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero .hero-img img {
    width: 70%;
  }
}
@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #000000;
}
.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #000000;
  bottom: 0;
  left: calc(50% - 20px);
}
.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  padding: 12px 0;
  text-align: center;
}
.clients img {
  max-width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
}
.clients img:hover {
  filter: none;
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .clients img {
    max-width: 40%;
  }
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li {
  padding-left: 28px;
  position: relative;
}
.about .content ul li + li {
  margin-top: 10px;
}
.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #47b2e4;
  line-height: 1;
}
.about .content p:last-child {
  margin-bottom: 0;
}
.about .content .btn-learn-more {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 4px;
  transition: 0.3s;
  line-height: 1;
  color: #47b2e4;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #47b2e4;
}
.about .content .btn-learn-more:hover {
  background: #47b2e4;
  color: #fff;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .row {
  margin-inline: 5em;
}
.services, .process, .team, .contact {
  padding-top: 0;
  padding-bottom: 100px;
}
.services .section-title {
  padding-bottom: 0;
}
@media (max-width: 992px) {
  .services .row {
    margin-inline: 0;
  }
  .services, .process, .team {
    padding-top: 60px;
  }
  .services .icon-box {
    padding: 0 !important;
    padding-bottom: 1em !important;
  }
  /*.services .icon-box img {
    width: 25% !important;
    padding: 0 !important;
    margin-left: 0 !important;
  }
  .services .icon-box h4 {
    width: 70%;
    text-align: end !important;
  }*/
}
.services .expand-container {
  display: none;
}
.services .panel {
  height: 60vh;
  border-radius: 0;
  color: #000000;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: none;
}
.services .panel-icon-box {
  box-shadow: 3px 10px 10px 1px rgba(136, 136, 136, 0.075), 0px -5px 10px rgba(136, 136, 136, 0.075);
  padding-inline: 0.5em;
  padding-block: 1em;
  transition: all ease-in-out 0.2s;
  background: #000000;
  height: 65vh;
  width: 15%;
  align-content: space-between;
  margin: 3px;
  border-radius: 5px;
  color: #000000;
}
.services .panel-icon-box h1 {
  color: white;
  text-align: center;
}
.services .panel-icon-box h2 {
  display: none;
}
.services .panel-icon-box img {
  width: 75%;
  display: none;
}
.services .panel-icon-box h4 {
  transform: rotate(270deg);
  position: absolute;
  bottom: 8em;
  color: #ffffff;
  right: -5.5em;
}
.services .panel a {
  display: none;
}
@media (max-width: 410px) {
  .services .panel-icon-box h4 {
    right: -6em;
  }
}
@media (max-width: 767px) {
  .services .panel-icon-box {
    height: 22em;
  }
}
@media (max-width: 992px) {
  .services .row {
    display: none;
  }
  .services .expand-container {
    display: flex;
    width: 100%;
    margin-inline: auto;
  }
  .services .panel-icon-box h4 {
    font-size: 12px;
    width: 15em;
    margin-bottom: 0;
  }
  .services .panel.active {
    display: grid !important;
  }
  .services .panel.active img {
    width: 75% !important;
    margin: auto;
  }
}
@media (max-width: 467px) {
  .services .panel.active {
    width: 100% !important;
  }
}
.services .panel.active {
  box-shadow: -8px 15px 10px 1px rgba(136, 136, 136, 0.051), -4px 5px 10px rgba(136, 136, 136, 0.219);
  flex: 5;
  background: white;
  width: 100%;
  border-bottom: 2px solid black; 
  border-left: 2px solid black; 
  border-radius: 5px;
}
.services .panel.active h1 {
  display: none;
}
.services .panel.active h4 {
  display: none;
}
.services .panel.active h2 {
  display: block;
  margin: auto;
  border-radius: 1em;
  color: #000000;
  font-size: 20px;
  padding-inline: 0.5em;
  text-align: center;
  margin-top: 1em;
}
.services .panel.active a {
  display: block;
  text-align: center;
  background: #000000;
  color: #ffffff;
  border-radius: 3px;
  padding-block: 5px;
  margin-inline: 0.5em;
}
.services .panel.active img {
  width: 50%;
  display: block;
}
@media (max-width: 576px) {
  .services .mobile-card-container {
    justify-content: unset !important;
  }
  .services .container > .row {
    overflow-x: auto;
  }
  .services .icon-box-container {
    padding-bottom: 1em;
    width: 80%;
  }
}
/*
.services .container-desktop {
  display: flex;
  width: 80%;
}
.services .desktopCardHover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  cursor: pointer;
  flex: 0.2;
  margin:8px;
  position: relative;
  transition: all 0.7s ease-out;
}
.services .desktopCardHover.active {
  flex: 3;
}*/
.services .icon-box {
  box-shadow: 3px 10px 10px 1px rgba(136, 136, 136, 0.075), 0px -5px 10px rgba(136, 136, 136, 0.075);
  padding: 1em;
  transition: all ease-in-out 0.3s;
  background: #ffffff;
  height: auto;
  display: grid;
  width: 100%;
  border-radius: 5px;
  border: 2px solid black; 
  align-content: space-between;
}
.services .icon-box:hover {
  background: #ffffff;
  transition: 0.1s;
  border-bottom: 4px solid black;
}
.services .icon-box .icon {
  margin-bottom: 10px;
}
.services .icon-box img {
  width: 75%;
  height: 10em;
  margin: auto;
  padding-block: 1.5em;
}
.services .icon-box .icon i {
  color: #003796;
  font-size: 36px;
  transition: 0.3s;
}
.services .icon-box h4 {
  text-align: center;
  font-size: 16px;
  color: #000000;
  transition: ease-in-out 0.3s;
}
.services .icon-box p {
  color: #002A62;
  line-height: 24px;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 0;
}
.services .icon-box a {
  text-align: center;
  background: black;
  color: white;
  padding-block: 5px;
  margin-top: 5px;
  border-radius: 5px;
}

/*--------------------------------------------------------------
# process
--------------------------------------------------------------*/
/*#process {
  width: 100%;
  height: 100vh;
  padding-bottom: 12em;
  background-image: url('../process-desktop.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/
.process img {
  width: 100%;
  display: block;
}
.process .mobile-view {
  display: none;
}
@media (max-width: 992px) {
  .process .desktop-view {
    display: none;
  }
  .process .mobile-view {
    display: block;
    margin-inline: 3em;
  }
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
/*
.cta {
  background: linear-gradient(rgba(0, 0, 0, 0.801), rgba(20, 30, 48, 0.795)), url("../img/cta-bg.jpg") fixed center center;
  background-size: cover;
  padding: 120px 0;
}
.cta h3 {
  color: #ffffff;
  font-size: 35px;
  font-weight: 700;
}
.cta p {
  color: #fff;
}
.cta .cta-btn {
  font-weight: 600;
  font-size: 20px;
  display: inline-block;
  padding: 5px 25px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  background: #fff;
  border: 2px solid #ffffff;
  color: #002A62;
}
.cta .cta-btn:hover {
  color: #FF6A00;
}
@media (max-width: 1024px) {
  .cta {
    background-attachment: scroll;
  }
}
@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}*/

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
/*
.portfolio #portfolio-flters {
  list-style: none;
  margin-bottom: 20px;
}
.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  margin: 10px 5px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
  transition: all 0.3s;
  padding: 8px 20px;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
}
.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  background: #47b2e4;
  color: #fff;
}
.portfolio .portfolio-item {
  margin-bottom: 30px;
}
.portfolio .portfolio-item .portfolio-img {
  overflow: hidden;
}
.portfolio .portfolio-item .portfolio-img img {
  transition: all 0.6s;
}
.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 15px;
  bottom: 0;
  z-index: 3;
  right: 15px;
  transition: all 0.3s;
  background: rgba(55, 81, 126, 0.8);
  padding: 10px 15px;
}
.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0px;
}
.portfolio .portfolio-item .portfolio-info p {
  color: #f9fcfe;
  font-size: 14px;
  margin-bottom: 0;
}
.portfolio .portfolio-item .portfolio-info .preview-link, .portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #fff;
  transition: 0.3s;
}
.portfolio .portfolio-item .portfolio-info .preview-link:hover, .portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #47b2e4;
}
.portfolio .portfolio-item .portfolio-info .details-link {
  right: 10px;
}
.portfolio .portfolio-item:hover .portfolio-img img {
  transform: scale(1.15);
}
.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
}*/

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
/*
.portfolio-details {
  padding-top: 40px;
}
.portfolio-details .portfolio-details-slider img {
  width: 100%;
}
.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #47b2e4;
}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #47b2e4;
}
.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(55, 81, 126, 0.08);
}
.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}
.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}
.portfolio-details .portfolio-description {
  padding-top: 30px;
}
.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.portfolio-details .portfolio-description p {
  padding: 0;
}*/

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
  position: relative;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 0;
  padding-inline: 1.25em;
  border-radius: 5px;
  border-left: 2px solid #000000;
  border-bottom: 2px solid #000000;
  background: #fff;
  transition: 0.5s;
  align-items: center;
}
.team .member .pic {
  overflow: hidden;
  display: grid;
  align-items: center;
  height: 14em;
}
.team .member .pic img {
  transition: ease-in-out 0.3s;
  border-radius: 5px;
  width: 10em;
  height: 80%;
  object-fit: cover;
}
.team .member .member-info {
  padding-left: inherit;
  margin-left: 2px;
  height: 11em;
  display: grid;
  align-content: space-evenly;
}
.team .member-info hr {
  margin-top: -10px;
  width: 200%;
}
.team .member h1 {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 24px;
  color: #000000;
}
.team .member p {
  font-size: 18px;
}
.team .member a {
  color: white;
  background: black;
  padding: 8px;
  padding-inline: 15px;
  border-radius: 5px;
  border: 2px solid #000000;
  transition: 0.3s;
}
.team .member a:hover {
  color: #000000;
  background: #ffffff;
}
@media (min-width: 1400px) {
  .team .member-info hr {
    width: 18.5em;
  }
}
@media (max-width: 1399px) {
  .team .member-info hr {
    width: 14em;
  }
}
@media (max-width: 1200px) {
  .team .member-info hr {
    width: 12em;
  }
}
@media (max-width: 992px) {
  .team .member-info hr {
    width: 30em;
  }
}
@media (max-width: 767px) {
  .team .member-info hr {
    width: 19em;
  }
}
@media (max-width: 567px) {
  .team .member-info hr {
    width: 17em;
  }
}
@media (max-width: 471px) {
  .team .member-info hr {
    width: 14em;
  }
}
@media (max-width: 414px) {
  .team .member-info hr {
    width: 11em;
  }
  .team .member h1 {
    font-size: 22px;
  }
  .team .member p {
    font-size: 13px;
  }
  .team .member a {
    font-size: 14px;
  }
}
.team .modal {
  padding: 1em;
  background: #000000cb;
  border-radius: 5px;
}
.team .modal-in {
  animation: animatezoom 0.3s;
  width: 35%;
  margin-left: 65%;
  border-radius: 5px;
  border-left: 1px solid #000000bf;
  border-bottom: 1px solid #000000bf;
  box-shadow: -2px 2px 10px 0 rgb(0 0 0 / 8%);
}
.w3-teal, .w3-hover-teal:hover {
  background-color: #ffffff !important;
}
.team-social {
  display: grid;
  padding: 1em;
}
.team .modal a {
  padding: 4px;
  background: white;
  color: black;
  margin: 2px;
  transition: 0.3s;
  text-align: center;
  border: none;
}
.team .modal a:hover {
  background: black;
  color: white;
}
@media (max-width: 600px) {
  .w3-modal-content {
      margin: 22px 0px;
      width: auto !important;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact{
  background: #ffffff;
  border-radius: 5px;
}
.contact .info {
  border-radius: 5px;
  border-bottom: 2px solid #000000;
  border-left: 2px solid #000000;
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}
.contact .info i {
  font-size: 20px;
  color: #000000;
  float: left;
  width: 44px;
  height: 44px;
  background: #f1f6fa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #000000;
}
.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #000000;
}
.contact .info .email p {
  padding-top: 5px;
}
.contact .info .social-links {
  padding-left: 60px;
}
.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #000000;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}
.contact .info .social-links a:hover {
  background: #47b2e4;
  color: #fff;
}
.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #000000;
  color: #fff;
}
.contact .php-email-form {
  border-radius: 5px;
  width: 100%;
  border-bottom: 2px solid #000000;
  border-left: 2px solid #000000;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form .form-group {
  margin-bottom: 20px;
}
.contact .php-email-form label {
  padding-bottom: 8px;
}
.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 5px;
  box-shadow: none;
  font-size: 15px;
  border: 2px solid #0000002d;
}
.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #000000;
}
.contact .php-email-form input {
  height: 40px;
}
.contact .php-email-form textarea {
  padding: 0px 0px;
}
.contact .php-email-form button[type=submit] {
  background: #cbcbcb14;
  border: 2px solid #000000;
  padding: 12px 35px;
  margin-top: 15px;
  color: #000000;
  transition: 0.4s;
  border-radius: 5px;
}
.contact .php-email-form button[type=submit]:hover {
  color: white;
  background: #000000;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-size: 14px;
  background: #000000;
}
#footer .footer-top {
  padding: 60px 0 0px 0;
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  color: #ffffff;
}
#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: #ffffff;
}
#footer .footer-top h4 {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-block: 2em;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  padding-block: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #ffffff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  font-weight: 500;
}
#footer .social-links {
  margin-top: -5em;
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #000000;
  color: white;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .footer-top .social-links a:hover {
  background: rgb(0, 0, 0);
  color: #ffffff;
  text-decoration: none;
}
#footer .footer-bottom {
  padding-top: 10px;
  padding-bottom: 30px;
  color: rgb(255, 255, 255);
}
#footer .copyright {
  font-size: 15px;
  float: left;
}
#footer .credits {
  float: right;
  font-size: 15px;
}
#footer .credits a {
  transition: 0.3s;
}
#footer .logo {
  display: grid;
  justify-items: center;
}
#footer .logo img {
  width: 35%;
  height: 60%;
  object-fit: cover;
}
@media (max-width: 768px) {
  #footer .logo img {
    width: 50%;
    height: auto;
  }
  #footer .social-links {
    margin-bottom: 5em;
    margin-top: 0;
  }
  #footer .footer-bottom {
    padding-top: 0px;
    padding-bottom: 20px;
  }
  #footer .copyright, #footer .credits {
    text-align: center;
    float: none;
  }
  #footer .credits {
    padding-top: 4px;
  }
}