@media (min-width: 993px) {
    .fixed-top .container {
        padding-block: 7px;
    }
}
@media (max-width: 992px) {
    .logo-one h1 {
        display: flex;
        padding-block: 0.5em !important;
        margin-left: 5px !important;
        color: white !important;
    } 
    .process-body .content .left .heading p {
        font-size: 16px !important;
        margin-right: 5px !important;
        padding: 0px 7px 0 7px !important;
    }
    .process-body .content .left .heading h1 {
        font-size: 24px !important;
    }
}
.process-body .content .row {
    margin-top: 1em;
}
.process-body .process-arrow img {
    width: 35%;
    height: 15em;
    object-fit: cover;
}
@media (max-width: 992px) {
    .process-body .process-arrow img {
        width: 100%;
        height: 8em;
    }
    .row .left {
        background: whitesmoke;
        padding-top: 2em;
        width: 94%;
        margin: auto;
        margin-bottom: 10px;
        border-radius: 10px;
        border-block: 3px solid #000000;
    }
}
.process-body .content .left img {
    width: 100%;
    padding: 2.5em;
}
.process-body .content .left .heading {
    justify-content: center;
}
.process-body .content .left .heading p {
    font-size: 25px;
    margin-right: 10px;
    margin-block: auto;
    background: black;
    color: white;
    padding: 0px 11px 0 11px;
    border-radius: 50%;
}
.process-body .content .left .heading h1 {
    margin-bottom: 0;
    font-size: 30px;
}
.accordion-item {
    border: none;
}
.accordion-button:after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}
.accordion-button:not(.collapsed) {
    color: #000000;
    background: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.125) 0px -1px 0px inset;
}
.process-body .content .right .content {
    background-color: #ffffff;
    border-radius: 10px;
    padding-inline: 3em;
}
@media (max-width: 992px) {
    .process-body .content .right .content {
        padding-inline: 0;
    }
}
.accordion {
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    padding: 15px;
    padding-block: 10px;
    margin-block: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
.accordion.active {
    color: white;
    background: black;
}
.accordion button {
    border: none;
    background: #ffffff;
    color: #000000;
    transition: 0.4s;
    text-align: left;
    max-width: 90%;
}
.accordion.active button {
    border: none;
    background: #000000;
    transition: 0.4s;
    color: #ffffff;
}
.accordion:after {
    content: '\002B';
    color: #000000;
    font-weight: bold;
    float: right;
    margin-left: 5px;
} 
.accordion.active:after {
    content: "\2212";
    color: white;
}
.process-body .content .right .summary-title:after {
    content: '\002B';
    color: #000000;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    transition: 0.4s;
}
.process-body .content .right .summary-title.open:after {
    content: '\2212';
}
.panel {
    padding: 0 18px;
    background: whitesmoke;
    border-radius: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}
.accordion.active.panel {
    max-height: 100%;
}
.panel ul {
    margin-block: 1em;
    padding-left: 20px;
    transition: max-height 0.4s ease-in-out;
}
.panel ul li {
    list-style: square;
    font-size: 14px;
}
.panel.show {
    max-height: 300px;
    transition: max-height 0.4s ease-in-out;
}